*{
    margin: auto;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient(135deg, #71b771e6, #9b59b6 );
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position:relative
}

.container .title::before{
    content: '';
    position:absolute;
    left: 0;
    bottom:0;
    height:3px;
    width: 30px;
    background:linear-gradient(135deg, #71b771e6, #9b59b6 );
}
.container form .user-details{
justify-content: space-between;
align-items: center;

}
.container form .input-box{
    width: calc(100% / 2 -20px);
}
.user-details .input-box input{
    height: 45px;
    font-weight: 500;
    margin-bottom: 5px;
}
button{
    background: linear-gradient(135deg, #71b771e6, #9b59b6 );
    height:30px;
    width:150px;
    align-items: center;
}
.contactme{
    background: linear-gradient(135deg, #0386f1e6, #fff );
    display: inline-block;
    border-radius: 2px;
    font-size:px;
    border:0.5px solid black
}
